div.toc {float:left;width:100px;color:rgb(255,255,0);background-color:rgb(0,0,0);}
div.head {height:40px;color:rgb(255,255,255);background-color:rgb(0,0,0)}
a {color:rgb(255,255,0);text-decoration:underline;}
body {margin:0px;margin-top:-14px}
